{{- block "Articles" . }}
<div class="flex flex-col gap-5" hx-article-container>
    {{- $homeUrl := newUrl "/" }}
    {{- $articlesUrl := newUrl "/articles" }}
    {{- if eq .Filter.Page 0 }}
    <div class="flex flex-wrap flex-row gap-5 w-full py-2 select-none align-middle sticky top-0 bg-tokyo-dark-one">
        {{- $url := generateUrl $articlesUrl "" }}
        {{- $isCurrent := eq $.Filter.Tag "" }}
        <div
            hx-trigger="click"
            hx-target="[hx-article-container]"
            hx-swap="outerHTML"
            {{- if not $isCurrent }}
            hx-get='{{- generateUrl $articlesUrl "" -}}'
            hx-push-url='{{- $homeUrl -}}#blog'
            {{- end }}
            class="cursor-pointer px-3 py-1 bg-tokyo-accent-six bg-opacity-0 hover:bg-opacity-10 text-sm text-tokyo-accent-six border border-tokyo-accent-six border-opacity-40 active:bg-opacity-0 active:border-opacity-100"
        >all posts</div>
        {{- range .Tags.Tags }}
        {{- $url = generateUrl $articlesUrl . }}
        {{- $isCurrent = eq $.Filter.Tag . }}
        <div
            hx-trigger="click"
            hx-target="[hx-article-container]"
            hx-swap="outerHTML"
        {{- if $isCurrent }}
            hx-get='{{- generateUrl $articlesUrl "" -}}'
            hx-push-url='{{- $homeUrl -}}#blog'
            class="cursor-pointer px-3 py-1 bg-opacity-100 text-sm border border-tokyo-accent-five bg-tokyo-accent-five text-black border-opacity-0"
        {{- else }}
            hx-get="{{- $url -}}"
            hx-push-url="/?tag={{- . -}}#blog"
            class="cursor-pointer px-3 py-1 bg-tokyo-accent-one bg-opacity-0 hover:bg-opacity-10 text-sm text-tokyo-accent-one border border-tokyo-accent-one border-opacity-40 active:bg-opacity-0 active:border-opacity-100"
        {{- end }}
        >
            {{- . -}}
        </div>
        {{- end }}
    </div>
    {{- end }}
    {{- range .Articles }}
        {{- template "articleCard" . }}
    {{- end }}
</div>
{{- end }}
